@tailwind base;
@tailwind components;
@tailwind utilities;

/* 修復日期輸入框值不顯示的問題 */
input[type="date"] {
    color: #595959;
}

/* 確保日期選擇器的各部分都能正確顯示 */
input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-datetime-edit-fields-wrapper,
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
    color: #595959;
}
